<!DOCTYPE html>
<!--
    View.....: Inicial
    Descrição: Automatização do apontamento de horas de ordens de processo
               Transações SAP: COR6N/CORT/COR3
               Essa view é como uma Master Page. O conteúdo html das outras
               views serão exibas dentro da div #divConteudoView, de acordo
               com a ação realizada na tela (pesquisar, operações, apontar)
    Autor....: Thiago Cordeiro Alves
-->
<html lang="pt-BR">
  <head>
     <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
     <!-- Resolução inicial que o browser deve renderizar definida como Mobile first -->
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
     <link rel="stylesheet" type="text/css" href="CSS/reset.css"/>
     <link rel="stylesheet" type="text/css" href="CSS/bootstrap.min.css"/>
     <link rel="stylesheet" type="text/css" href="CSS/bootstrap-dialog.css"/>
     <link rel="stylesheet" type="text/css" href="CSS/dataTables.bootstrap.css"/>
     <link rel="stylesheet" type="text/css" href="CSS/dataTables.responsive.css"/>
     <link rel="stylesheet" type="text/css" href="CSS/dataTables.tableTools.css"/>
     <link rel="stylesheet" type="text/css" href="CSS/jquery.dataTables.css"/>
     <link rel="stylesheet" type="text/css" href="CSS/COR6N.css"/>
     <link rel="stylesheet" type="text/css" href="CSS/iconFont.css"/>
     <link rel="stylesheet" type="text/css" href="CSS/toastr.min.css"/>
     <link rel="shortcut icon" href="images/ache.ico">
     <title>Apontamento de horas de ordens de processo - COR6N</title>
  </head>

<% DATA:
      v_ambiente     TYPE string,
      v_usr_ambiente TYPE string,
      v_empresa      TYPE string.

   CONCATENATE sy-sysid '(' sy-mandt ')' INTO v_ambiente.
   CONCATENATE w_login-uname v_ambiente  INTO v_usr_ambiente SEPARATED BY ' - '.

   v_empresa = 'Aché Laboratórios Farmacêuticos S/A'. %>

    <!-- Bootstrap Panel -->
    <div class="container-fluid"> <!-- container-fluid ocupa a tela toda -->
       <div class="bs-example">
           <div class="panel panel-default">

               <!-- Cabeçalho da página -->
               <div class="panel-heading">
                  <div class="col-sm-2">
                     <img src="images/ache.png" id="imgLogoAche" alt=<%= v_empresa %> title=<%= v_empresa %> class="logoAche">
                  </div> <!-- div class="col-sm-2" -->

                  <div class="hidden-xs text-center col-sm-6">
                     <label for="nome_bsp">Apontamento de ordem de processo</label>
                  </div>

                  <div class="visible-xs text-center col-sm-2">
                    <label for="nome_bsp2">Apto OP</label>
                  </div>

                  <div class="saudacaoUsuario">
                   <span class="icon-user-2" aria-hidden="true"></span>
                   <span><%= v_usr_ambiente %></span>
                  </div>

               </div> <!-- section class="panel-heading" -->

               <!-- Corpo da página -->
               <div class="panel-body">
                 <div id="divPesquisarOP">
                    <div class="input-group">
                       <input type="search" maxLength="12" id="ipt_nro_op" class="form-control" required pattern="[0-9]*" title="Informe números de 0-9" placeholder="Informe a ordem de processo" autofocus>

                       <span class="input-group-btn">
                           <button type="button" id="btnPesquisarOP" class="btn btn-default">Pesquisar</button>
                       </span>
                    </div>
                  </div> <!-- <div id="divPesquisarOP"> -->

                  <!-- Conteúdo das próximas Views -->
                  <div id="divConteudoView" class="linhaOculta"></div>
               </div> <!-- section class="panel-body" -->

               <!-- Rodapé -->
               <div class="panel-footer clearfix">
                  <div class="row">
                     <div class="col-sm-12">
                        <footer>
                           <p class="direitos" align="center"><%= v_empresa %> - <%= sy-datum+0(4) %></p>
                        </footer>
                     </div>
                  </div>
               </div> <!-- div class="panel-footer clearfix" -->

           </div> <!-- div class="panel panel-default" -->
       </div> <!-- div class="bs-example" -->
    </div> <!-- div class="container-fluid" -->

    <script type="text/javascript" src="JavaScript/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="JavaScript/jquery.dataTables.1.10.4.min.js"></script>
    <script type="text/javascript" src="JavaScript/bootstrap.min.js"></script>
    <script type="text/javascript" src="JavaScript/bootstrap-dialog.js"></script>
    <script type="text/javascript" src="JavaScript/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript" src="JavaScript/bootbox.min.js"></script>
    <script type="text/javascript" src="JavaScript/bootstrap-waitingfor.js"></script>
    <script type="text/javascript" src="JavaScript/toastr.min.js"></script>
    <script type="text/javascript" src="JavaScript/jquery.mask.js"></script>
    <script type="text/javascript" src="doInit.js"></script>
  </body>
</html>